@import url('https://fonts.googleapis.com/css?family=Playfair+Display')
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
  display: flex;
  flex-flow: row;
}
.flashes{
    width: 100%;
    display: block;
    padding: 10px;
}
.card {
    display: flex;
    flex-flow: column;
    background: #e5e7e6;
    padding: 10px;
    height: 600px;
    text-align: center;
    right: 0;
    left: 1.5rem;
    margin-top: 3rem;
    width: 100%;
}
#tasks{
    display: flex;
    flex-flow: column;
    background: gainsboro;
    font-family: Playfair Display;
    font-size: 20px;
    height: 600px;
    text-align: left;
    width: 50%;
    overflow: hidden;
}
#display{
    background: #e0dfd5;
    height: 100px;
}
#task_time{
    left: 2rem;
}
.card .card-title {
    font-weight: bold;
    background: #b7b5b3;
    display: block;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 black;
}

#tasks ul li{
  padding: 20px;
}
#tasks a{
  float: right;
}
@media(max-height:480px){
  .container{
    width: 100%;
    display: grid;
  }
  #task{
    width: 100%;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
    font-size: 10px;
    height: 100vh;
    text-align: center;
    overflow: hidden;
  }
  #tasks ul li{
    padding: 10px;
  }
  #tasks a{
    display: block;
  }
  .card {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
